<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <PublishAot>true</PublishAot>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <InvariantGlobalization>true</InvariantGlobalization>
    <OptimizationPreference>Speed</OptimizationPreference>
    <StripSymbols>false</StripSymbols>
    <DebuggerSupport>true</DebuggerSupport>
    <EventSourceSupport>true</EventSourceSupport>
    <MetricsSupport>true</MetricsSupport>
    <StackTraceSupport>true</StackTraceSupport>
    <EnableUnsafeBinaryFormatterSerialization>false</EnableUnsafeBinaryFormatterSerialization>
    <EnableUnsafeUTF7Encoding>false</EnableUnsafeUTF7Encoding>
    <MetadataUpdaterSupport>false</MetadataUpdaterSupport>
    <XmlResolverIsNetworkingEnabledByDefault>false</XmlResolverIsNetworkingEnabledByDefault>
    <UseSizeOptimizedLinq>true</UseSizeOptimizedLinq>
    <Http3Support>false</Http3Support>
    <HttpActivityPropagationSupport>true</HttpActivityPropagationSupport>
  </PropertyGroup>
</Project>
